/************************************/
/* CODE VOOR FONTS */
/************************************/
@font-face {
  font-family: 'Flexo Medium';
  src: url('Flexo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo Regular';
  src: url('Flexo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo Demi';
  src: url('Flexo-Demi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Demi';
  src: url('Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/************************************/
/* CODE VOOR "General stuff"*/
/************************************/
body {
  width: 100%;
  overflow-x: hidden;
}

/************************************/
/* CODE VOOR INDEXPAGINA HEADER*/
/************************************/
header {
  padding-bottom: 2em;
}

header nav {
  margin-left: -8px;
  margin-top: -8px;
  height: 1.1em;
  width: 100%;
  color: white;
  text-decoration: none;
  outline: none;
  display: block;
  line-height: 1.5em;
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  max-height: 1.7em;
}

header nav li img {
  width: 4em;
  height: 2em;
}

header nav li:first-of-type {
  width: 100%;
  height: 2.5em;
  border-left: 2px solid #dedede;
  flex-grow: 1;
  z-index: -1;
  background-color: #e8e8e8;
}

body.index header nav li:first-of-type {
  width: 100%;
  height: 2.5em;
  border-left: 2px solid #dedede;
  flex-grow: 1;
  z-index: -1;
  background-color: White;
}

header nav li:nth-of-type(2) {
  width: 100%;
  height: 2.5em;
  border-left: 2px solid #dedede;
  flex-grow: 1;
  z-index: -1;
  background-color: #e8e8e8;
}

header nav li:nth-of-type(3) {
  width: 20%;
  height: 36px;
  border: 2px solid #dedede;
  z-index: -1;
  background-color: #e8e8e8;
}

header nav li:nth-of-type(3) img {
  width: 0.6em;
  height: 1em;
}

/* groter scherm navigatie*/
body.index header nav:nth-of-type(2) li:first-of-type {
  width: 15%;
  height: 40px;
}

header nav:nth-of-type(2) li {
  width: 15%;
  background-color: #e8e8e8;
  border: 2px solid #dedede;
  height: 40px;
}

header nav:nth-of-type(2) li:nth-of-type(2) {
  height: 110%;
}

header nav:nth-of-type(2) li:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  max-width: 10em;
}

header nav:nth-of-type(2) li:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  max-width: 10em;
}

header nav:nth-of-type(2) li:nth-of-type(5) img {
  width: 100%;
  height: 100%;
  max-width: 10em;
}

header nav:nth-of-type(2) li:nth-of-type(6) img {
  width: 100%;
  height: 100%;
  max-width: 10em;
}

@media (max-width:720px) {
  header nav.mobile {
    display: block;
  }

  header nav.desktop {
    display: none;
  }
}

@media (min-width:720px) {
  header nav.mobile {
    display: none;
  }

  header nav.desktop {
    display: block;
  }
}

header>ul {
  display: flex;
  width: 100%;
  height: 3.6em;
  position: relative;
  left: -3em;
  top: 0.6em;
  align-content: center;
  list-style-type: none;
}

body.index>header>ul>li:nth-of-type(2) {
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  border-left: 2px solid black;
  flex-grow: 1;
  width: 100%;
}

header>ul>li:nth-of-type(odd) {
  background: #313131;
  width: 20%;
  display: block;
  text-align: center;
}

header>ul>li:nth-of-type(odd)>img {
  height: 60%;
}

/************************************/
/* CODE VOOR INDEXPAGINA MAIN */
/************************************/
/*main block1*/
body.index>main>section:first-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body.index>main>section:first-of-type>article {
  background-color: #313131;
  display: block;
  width: 100%;
  max-width: 50em;
  margin-left: -16px;
  border-radius: 6px;
  margin-bottom: 2em;
}

body.index>main>section:first-of-type>article>h2 {
  color: White;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Flexo Medium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 137.5%;
}

body.index>main>section:first-of-type>article>p {
  color: #ccc;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

body.index>main>section:first-of-type>article>img {
  width: 100%;
}

body.index>main>section:nth-of-type(2) {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 55em;
}

@media (max-width:500px) {
  body.index>main>section:nth-of-type(2) {
    margin-left: 1.5em;
  }
}

@media (min-width:500px) {
  body.index>main>section:nth-of-type(2) {
    margin: 0 auto;
  }
}

div.scrolltop {
  position: fixed;
  bottom: 2em;
  right: 3em;
  z-index: 2;
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  border-radius: 6px;
}

div.scrolltop img {
  height: 4em;
  width: 4em;
}

@media (max-width:600px) {
  div.scrolltop {
    display: none;
  }
}

@media (min-width:600px) {
  div.scrolltop {
    display: block;
  }
}

div.picker {
  position: fixed;
  top: 7em;
  left: 0.1em;
  z-index: 2;
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  border-radius: 6px;
  border-bottom-right-radius: 80px;
  padding-bottom: 2em;
}

div.picker img {
  height: 4em;
  width: 4em;
}

div.pokemon {
  position: fixed;
  top: 7.9em;
  left: 0.6em;
  z-index: 3;
}

div.pokemon img {
  position: fixed;
  height: 3em;
  width: 3em;
  display: none;
}

div.pokemon img.anders {
  position: fixed;
  height: 3em;
  width: 3em;
  display: block;
}

body.index>main>section:nth-of-type(2)>a>article {
  display: block;
  width: 90%;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 1em;
  margin-right: 0;
}

body.index>main>section:nth-of-type(2)>a {
  text-decoration: none;
  padding-right: 0;
}

body.index>main>section:nth-of-type(2)>a:first-of-type>article {
  background-color: #4dad5b;
}

body.index>main>section:nth-of-type(2)>a:nth-of-type(2)>article {
  background-color: #E3350D;
}

body.index>main>section:nth-of-type(2)>a:nth-of-type(3)>article {
  background-color: #675945;
}

body.index>main>section:nth-of-type(2)>a>article>h2 {
  color: White;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  font-family: 'Flexo Medium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 137.5%;
}

body.index>main>section:nth-of-type(2)>a>article>img {
  width: 100%;
}

/*pokemon carrousel*/
body.index>main>section:nth-of-type(3)>article {}

body.index>main>section:nth-of-type(3)>article>h2 {
  display: block;
  background-color: #313131;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 15em;
  margin-left: 0.83em;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #919191;
  font-family: 'Flexo Medium', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: -3;
  margin-bottom: 1em;
  margin: 0 auto;
}

body.index>main>section:nth-of-type(3)>article>h2>img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  vertical-align: middle;
}

body.index>main>section:nth-of-type(3)>article>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  overflow-x: scroll;
  margin-top: 0;
}

body.index>main>section:nth-of-type(3)>article>ul>li>ul {
  list-style-type: none;
  width: 15em;
  left: 0;
  padding-left: 0;
  border: 3px solid Black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

li.deximage1 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage1>img {
  width: 100%;
}

li.deximage2 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage2>img {
  width: 100%;
}

li.deximage3 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage3>img {
  width: 100%;
}

li.deximage4 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage4>img {
  width: 100%;
}

li.deximage5 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage5>img {
  width: 100%;
}

li.deximage6 {
  background-color: #616161;
  display: block;
  text-align: center;
}

li.deximage6>img {
  width: 100%;
}

table.water {
  padding-bottom: 0.8em;
}

li.dexname {
  display: block;
  background-color: #313131;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 100%;
  color: White;
  font-family: 'Flexo demi', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  margin-top: -5px;
}

li.dexname>table {
  border-spacing: 10px 20px;
}

th {
  font-size: 1.3em;
}

th.number {
  text-align: right;
}

td.dex {
  font-size: 0.7em;
  text-align: left;
}

td.type1 {
  font-size: 0.7em;
  background-color: #4592c4;
  border-radius: 4px;
}

td.type2 {
  font-size: 0.7em;
  background-color: #fd7d24;
  border-radius: 4px;
}

td.type3 {
  font-size: 0.7em;
  background-color: #9bcc50;
  border-radius: 4px;
}

body.index>main>section:nth-of-type(3)>article>button {
  color: White;
  font-family: 'Flexo Demi', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  display: block;
  background-color: #313131;
  width: 19em;
  margin-left: 0.6em;
  border-radius: 6px;
  text-align: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin: 0 auto;
  margin-bottom: 3.5em;
}

/************************************/
/* CODE VOOR INDEXPAGINA FOOTER */
/************************************/
body.index>footer {
  background-color: #1f1f1f;
  width: 100%;
  margin-left: -8px;
}

body.index>footer>div>img {
  width: 100%;
  height: 2em;
}

body.index>footer>img {
  padding-top: 1em;
  width: 13em;
  margin-left: 2.4em;
}

body.index>footer>ul:first-of-type {
  width: 89%;
  padding-bottom: 1em;
  border-bottom: 3px solid Black;
  list-style: inside;
}

body.index>footer>ul:first-of-type>li {
  color: #616161;
  font-family: "Roboto regular", arial, sans-serif;
  font-size: 84%;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 100%;
  text-transform: none;
  vertical-align: middle;
  margin-bottom: 0.7em;
}

body.index>footer>ul:nth-of-type(2) {
  width: 89%;
  display: flex;
  padding-bottom: 1em;
  border-bottom: 3px solid Black;
  list-style-type: none;
}

body.index>footer>ul:nth-of-type(2)>li {
  padding-right: 1em;
}

body.index>footer>ul:nth-of-type(2)>li>img {
  width: 2em;
}

body.index>footer>ul:last-of-type {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 5em;
  border-bottom: 0;
  list-style-type: none;
}

body.index>footer>ul:last-of-type>li>img {
  margin-bottom: 1em;
  margin-right: 1em;
}

body.index>footer>ul:last-of-type>li {
  color: #616161;
  font-family: "Roboto regular", arial, sans-serif;
  font-size: 68%;
  font-weight: normal;
  line-height: 100%;
  text-transform: none;
  vertical-align: middle;
  margin-bottom: 0.7em;
  text-decoration: underline;
  line-height: 1;
}

body.index>footer>p {
  color: #616161;
  font-family: "Roboto regular", arial, sans-serif;
  font-size: 68%;
  font-weight: normal;
  line-height: 100%;
  text-transform: none;
  vertical-align: middle;
  padding-bottom: 1em;
  line-height: 1;
  padding-left: 3em;
}

/************************************/
/* CODE VOOR DETAILPAGINA HEADER*/
/************************************/
body.detail>header>div:first-of-type>img {
  width: 100%;
  height: 13em;
  margin-top: 1.4em;
  margin-left: -8px;
  position: relative;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

body.detail>header>div:nth-of-type(2)>img {
  position: absolute;
  top: 7.1em;
  right: 0;
  width: 4em;
}

body.detail>header>ul {
  display: flex;
  width: 100%;
  height: 3.6em;
  left: -3em;
  top: 0.6em;
  align-content: center;
  list-style-type: none;
  margin-bottom: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

body.detail>header>ul>li {
  background-color: white;
  flex-grow: 1;
  width: 10%;
  font-family: "Montserrat Demi", arial, sans-serif;
  font-size: 0.8em;
}

@media (max-width:1020px) {
  body.detail>header>ul {
    display: none;
  }

  body.detail>header>div:nth-of-type(2)>img {
    position: absolute;
    top: 2.6em;
  }

  body.detail>header>div:first-of-type>img {
    margin-top: 1.4em;
  }
}

@media (min-width:1020px) {
  body.detail>header>ul {
    display: flex;
    flex-direction: row;
  }

  body.detail>header>div:nth-of-type(2)>img {
    position: absolute;
    top: 6.4em;
  }

  body.detail>header>div:first-of-type>img {
    margin-top: 0.4em;
    z-index: -1;
  }
}

body.detail header nav:nth-of-type(2) li:first-of-type {
  width: 15%;
  height: 40px;
}

body.detail>header>ul>li:nth-of-type(2) {
  background-color: white;
}

body.detail>header>ul>li>img {
  width: 3em;
  height: 3em;
}

body.detail>header {
  padding-bottom: 0;
}

/************************************/
/* CODE VOOR DETAILPAGINA MAIN*/
/************************************/
/*titel*/
body.detail>main>section:first-of-type>article>h2 {
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2em;
  margin: 0.7em 0 2em 0;
  text-transform: uppercase;
}

body.detail>main>section:first-of-type>article>a>img {
  display: block;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.3);
  margin-left: 0.4em;
}

@media (min-width:640px) {
  body.detail>main>section:first-of-type>article>a>img {
    width: 65%;
    max-width: 45em;
    margin: 0 auto;
  }

  body.detail>main>section:first-of-type>article>h2 {
    font-size: 2.5em;
  }
}

@media (min-width:1020px) {
  body.detail>main>section:first-of-type>article>h2 {
    font-size: 3em;
    margin-left: 20%;
  }
}

/*text*/
body.detail>main>section:nth-of-type(2)>article>ul {
  list-style-type: none;
  padding-left: 1em;
}

body.detail>main>section:nth-of-type(2)>article>ul>li>img {
  width: 95%;
}

@media (min-width:640px) {
  body.detail>main>section:nth-of-type(2)>article>ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    max-width: 65em;
    margin: 0 auto;
  }

  body.detail>main>section:nth-of-type(2)>article>ul>li>img {
    width: 10em;
  }
}

body.detail>main>section:nth-of-type(2)>article>ul>li>p {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.75em;
  line-height: 1.6666666667;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 95%
}

@media (min-width:1020px) {
  body.detail>main>section:nth-of-type(2)>article>ul>li>p {
    font-size: 1em;
  }
}

/*images*/
body.detail>main>section:nth-of-type(3)>article {
  margin: 0 auto;
}

body.detail>main>section:nth-of-type(3)>article>img {
  display: block;
  width: 95%;
  border-radius: 8px;
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

@media (min-width:630px) {
  body.detail>main>section:nth-of-type(3)>article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    max-width: 70em;
  }

  body.detail>main>section:nth-of-type(3)>article>img {
    width: 45%;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 30em;
  }

  body.detail>main>section:nth-of-type(3)>article>img:last-of-type {
    width: 95%;
    max-width: 62em;
  }
}

/*news*/
body.detail>main>section:nth-of-type(4)>article {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 1)), url("../images/bggray.jpg");
  background-color: white;
  padding-bottom: 2em;
  padding-top: 1em;
  margin-left: -6px;
}

body.detail>main>section:nth-of-type(4)>article>h2 {
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.83px;
  line-height: 1;
  letter-spacing: 0.83px;
  margin-left: 0.5em;
  margin-bottom: 2em;
}

body.detail>main>section:nth-of-type(4)>article>ul {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  margin-left: -2.1em;
}

@media (min-width:1080px) {
  body.detail>main>section:nth-of-type(4)>article>h2 {
    margin-left: 8em;
  }
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd) {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 2em;
  margin-right: 1em;
  padding-bottom: 5em;
  background-color: White;
}

@media (min-width:630px) {
  body.detail>main>section:nth-of-type(4)>article>h2 {
    font-size: 2em;
  }

  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd) {
    margin-top: 0;
    max-width: 10em;
  }
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd)>img {
  width: 100%;
  height: 200%;
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd)>h3 {
  display: inline-block;
  background-image: linear-gradient(135deg, #fff200 0%, #fff 50%, #2bb673 100%);
  color: #000;
  border-radius: 4px;
  padding: 5px 6px 4px 7px;
  line-height: 1;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 0.8333333333rem;
  text-transform: uppercase;
  letter-spacing: 0.09090909091em;
  font-family: 'Roboto Regular', sans-serif;
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd)>h4 {
  line-height: 1.6666666667;
  margin-left: 10px;
  font-size: 0.8em;
  font-family: 'Roboto Regular', sans-serif;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even) {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 5em;
  background-color: White;
}

@media (min-width:630px) {
  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even) {
    margin-top: 0;
    max-width: 10em;
  }
}

@media (min-width:630px) {
  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(2) {
    padding-bottom: 6.3em;
    margin-right: 1em;
  }
}

@media (min-width:682px) {
  body.detail>main>section:nth-of-type(4)>article>ul {
    flex-wrap: nowrap;
    justify-content: center;
  }

  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(odd) {
    max-width: 16em;
  }

  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even) {
    max-width: 16em;
  }

  body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(2) {
    padding-bottom: 5em;
  }
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even)>img {
  width: 100%;
  height: 200%;
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even)>h3 {
  display: inline-block;
  background-image: linear-gradient(135deg, #fff200 0%, #fff 50%, #2bb673 100%);
  color: #000;
  border-radius: 4px;
  padding: 5px 6px 4px 7px;
  line-height: 1;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 0;
  font-size: 0.8333333333rem;
  text-transform: uppercase;
  letter-spacing: 0.09090909091em;
  font-family: 'Roboto Regular', sans-serif;
}

body.detail>main>section:nth-of-type(4)>article>ul>li:nth-of-type(even)>h4 {
  line-height: 1.6666666667;
  margin-left: 10px;
  font-size: 0.8em;
  font-family: 'Roboto Regular', sans-serif;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

body.detail>main>section:nth-of-type(4)>article>button {
  transform: skewX(-15deg);
  margin-bottom: 2em;
  margin-top: calc(1em + 15px);
  display: block;
  width: 60%;
  min-width: 150px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 3px solid hsl(0, 0%, 0%);
  border-image: linear-gradient(90deg, #fff200 0%, #fff 50%, #2bb673 100%);
  color: #000;
  padding: 10px;
  align-items: center;
  font-family: 'Montserrat Demi', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

/*logos*/
body.detail>main>section:nth-of-type(5)>article {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 5%,
      rgba(255, 255, 255, 1)), url("../images/bggray.jpg");
  background-color: white;
  padding-bottom: 2em;
  padding-top: 2em;
}

body.detail>main>section:nth-of-type(5)>article>ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

body.detail>main>section:nth-of-type(5)>article>ul>li>img {
  width: 100%;
  margin-bottom: 20px;
  max-width: 320px;
}

body.detail>main>section:nth-of-type(5)>article>ul>li>button {
  transform: skewX(-15deg);
  margin-bottom: 2em;
  margin-top: 15px;
  display: block;
  width: 60%;
  min-width: 150px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 3px solid hsl(0, 0%, 0%);
  border-image: linear-gradient(90deg, #fff200 0%, #fff 50%, #2bb673 100%);
  color: #000;
  padding: 10px;
  align-items: center;
  font-family: 'Montserrat Demi', sans-serif;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
}

@media (min-width:640px) {
  body.detail>main>section:nth-of-type(5)>article>ul {
    flex-direction: row;
  }
}

/************************************/
/* CODE VOOR DETAILPAGINA FOOTER */
/************************************/
body.detail>footer {
  border-top: 3px solid green;
  padding-top: 2em;
}

body.detail>footer>button {
  transform: skewX(-15deg);
  margin-bottom: 2em;
  margin-top: 15px;
  display: block;
  width: 60%;
  min-width: 150px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 3px solid hsl(0, 0%, 0%);
  border-image: linear-gradient(90deg, #fff200 0%, #fff 50%, #2bb673 100%);
  color: #000;
  padding: 10px;
  align-items: center;
  font-family: 'Montserrat Demi', sans-serif;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
}

body.detail>footer>img {
  margin-bottom: 20px;
}

body.detail>footer>ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style-type: none;
  padding-left: 0;
}

body.detail>footer>ul>li {
  margin-bottom: 2em;
}

body.detail>footer>p {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.86em;
  line-height: 1.6666666667;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -9px;
  text-align: center;
  width: 100%;
}
